@using WorkEffect.Website.Types
@model WorkEffect.Website.Types.CmsPage

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>CmsPage</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            Parts
        </dt>

        <dd>
            @{
                foreach (var part in Model.CmsContents)
                {
                    @Html.Partial("_ContentDetails", part);
                }
            }

            @Html.Partial("_ContentCreate", new CmsContent(Model.Id))
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
