@model WorkEffect.Website.Models.Layout

<section id="layout" class="container admin-section text-center">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">

            <div>
                <h4>Layout</h4>
                <hr />
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.Name)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Name)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.HtmlContainer)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.HtmlContainer)
                    </dd>

                </dl>
            </div>
            <p>
                @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
                @Html.ActionLink("Back to List", "Index")
            </p>
        </div>
    </div>
</section>