@model WorkEffect.Website.Models.ContentLayout

<h4>ContentLayout</h4>
<hr />
<dl class="dl-horizontal">
    <dt>
        @Html.DisplayNameFor(model => model.Name)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.Name)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.Css)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.Css)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.Html)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.Html)
    </dd>

</dl>