@using WorkEffect.Website.Models
@model IEnumerable<WorkEffect.Website.Models.ContentLayoutParameter>

@{
    Layout = null;
    var formId = Guid.NewGuid().ToString("n");
}

<h2>Index</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Index)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Index)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}
    <tr>
        @using (Html.BeginForm("Create", "LayoutParameters", new { parentId = ViewBag.LayoutId }, FormMethod.Post, new { @id= formId })) //"Create", "LayoutParameters", new { parentId = ViewBag.LayoutId }, FormMethod.Post
        {
            <td>
                @Html.TextBox("Index", 0, new { @class = "form-control", @type = "number", @min = "0", @max = "100" })
            </td>
            <td>
                @Html.TextBox("Name", "", new { @class = "form-control" })
            </td>
            <td style="text-align: right">
                <input type="button" id="btnCreate" value="Create" />
            </td>
        }
    </tr>
</table>
<script type="text/javascript">
    $(function () {
        attachAjaxSubmitHandler($("#btnCreate", $("#@(formId)")));
    });
</script>